<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConfluenceConfiguration.Endpoint" value="https://magdevelopment.atlassian.net/wiki/rest/api" />
    <add key="ConfluenceConfiguration.Username" value="OwnersManual" />
    <add key="ConfluenceConfiguration.Password" value="OwnersManual" />
  </appSettings>
</configuration>
