<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConfluenceConfig.Endpoint" value="https://magdevelopment.atlassian.net/wiki/rest/api" />
    <add key="ConfluenceConfig.Username" value="OwnersManual" />
    <add key="ConfluenceConfig.Password" value="OwnersManual" />
    <add key="ConfluenceConfig.SpaceKey" value="SYS" />
    <add key="ConfluenceConfig.PageId" value="115818626" />
  </appSettings>
</configuration>
